venv/*
_release/*
dist/*
build/*
_dump/*
__pycache__/*
_ocr/_tmp/*
_ocr/_raw/*
_ocr/_ref/backup/*
ff_profile/parent.lock
chr_profile/*
edg_profile/*
node_modules/*
training_logs/*
package-lock.json
screenshot.png
umasettings*.json
log.log
sandbox.py
*.log
*.log.zip
packet.json
version.rc
*.json
*.exe_
*.csv
*.gz
event_text.txt
support_cards.png