colorama==0.4.4
elevate==0.1.3
loguru==0.6.0
MouseInfo==0.1.3
msgpack==1.0.4
numpy==1.22.4
opencv-python==4.6.0.66
Pillow==9.3.0
psutil==5.9.1
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
pypresence==4.2.1
PyRect==0.2.0
PyScreeze==0.1.28
pystray==0.19.3
pytweening==1.0.4
pywin32==304
six==1.16.0
win32-setctime==1.1.0
