
_release/*
dist/*
build/*
ff_profile/parent.lock
chr_profile/*
edg_profile/*
node_modules/*
training_logs/*
screenshot.png
umasettings*.json
log.log
sandbox.py
*.log
*.log.zip
packet.json
version.rc
*.json
*.exe
*.exe_
*.csv
*.gz
*.tmp
*.old
event_text.txt
support_cards.png
sandbox.py